<html>
<head>
    <title>Pathway</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css"/>
    <script type="text/javascript" src="main.js"></script>
</head>
<body class="content">

<div class="menu">
	<input id="menu-tm" class="button" type="button" value="Theoretical Model"/>
	<input id="menu-ca" class="button" type="button" value="Content areas example"/>
	<input id="menu-fpbp" class="button" type="button" value="Fluid pressure to blood pressure example"/>
</div>

</body>
</html>
