<html>
<head>
    <title>Pathway</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css"/>
    <script type="text/javascript" src="js/q.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="main-browserified.js"></script>
</head>
<body class="content">

	<div id="menu" class="menu">
		<input id="menu-tm" class="button menu-button" type="button" value="Theoretical Model" onclick="showContent(1)"/>
		<input id="menu-ca" class="button menu-button" type="button" value="Content areas example" onclick="showContent(2)"/>
		<input id="menu-fpbp" class="button menu-button" type="button" value="Fluid pressure to blood pressure example" onclick="showContent(3)"/>
	</div>

	<div id="content-area">

		<div id ="user-info-header" class="information header">

		</div>

		<div id="user-info-container">
			
		</div>

		<div class="user-actions">
			<input id="menu-next" class="button" type="button" value="Next"/>
			<input id="menu-yes" class="button" type="button" value="Yes"/>
			<input id="menu-no" class="button" type="button" value="No"/>
		</div>

	</div>
			
	<div class="menu">
		<input id="back-button" class="button back-button" type="button" value="Back to Menu" onclick="backToMenu()"/>
	</div>

</body>
</html>
