
#content-area{
    width: 80%;
    margin-left: 10%;

    @media screen and (max-width: 500px) {
	    width: 100%;
	    margin-left: 5%;
	  }

    .information{
		min-height: $button_height;
	    margin-right: 0;
	    vertical-align: middle;
	    border-radius: 3px;
	    border:none;
	    line-height: 20px;
	    margin: 2px;
	    box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    opacity: 0.8;
	    background-color:$info_background;	
	    width:80%;
	    padding: 5px 24px 0 10px;
	    margin: 15px 25px;
	    text-align: center;
	    position: relative;

	    img.collapse {
		    width: 25px;
		    position: absolute;
		    top: 20;
		    left: 10;
		    cursor: hand;
		}
	    .collapsible-desc {
		    height: 30px;
		    display: none;
		}
		.step-content {
		    padding-top: 8px;
		}
    }
    .information.header{
	    background-color:$info_header_background;	
    }
}
